@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0 ;
}

.heading {
    background-color: #1f2937;
    width: 100vw;
}

.header {

    display: flex;
    align-items: center;
    margin: 20px 100px;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
    font-weight: 700;
}

ul {
    display: flex;
    gap: 24px;
}

li {
    list-style-type: none;
    color: #e5e7ebe2;
    font-size: 18px;
}

.splash-container {
    background-color: #1f2937;
    width: 100vw;
    padding: 100px 0px;
}
.splash {
    display: flex;
    justify-content: center;
    margin: 0px 100px ;
    gap: 50px;

}


.splash-left{
    width: 400px;
}


.hero {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.description {
    font-size: 18px;
    color: #e5e7ebe2;
    margin: 10px 0px;
}

.splash-right {
    display: flex;
    align-items: center;
    justify-content: center;
    color:black;
    width: 600px;
    background-color: #e5e7ebe2 ;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color:white;
}

button {
    font-size: 18px ;
    display: block;
    background-color: #3882f6;
    color: white;
    padding: 8px 35px ;
    border-radius: 10px;
    
}

button:hover {
    background-color: white;
    color: #3882f6;
}